/* @author ksdme */
body {
	margin-top: 12vh;
}

.navbar {
	border-radius: 0px !important;
}

.navbar-label {
	padding: 8px;
}

.navbar-sub-label {
	font-size: 12px;
}

.option, .option-plain {
	background: rgba(43, 60, 99, 0.7) !important;
	border-radius: 4px;
	height: 15vh;
	margin: 20px;
}

.option {
	cursor: pointer !important;
}

.option-plain {
	background: rgba(0, 0, 0, 0.8) !important;
}

.option-content {
	position: absolute;
	left: 50%; top: 50%;
	transform: translate(-50%, -50%);

	color: white;
	font-size: 18px;
	font-weight: bold;
	font-family: monospace;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.option:hover {
	background: #4e342e !important;
}

.btn:hover {
	background: #000000 !important;
}

.question {
	font-size: 60px;
	line-height: 80px !important;
	font-weight: bold;
	font-family: monospace;
}

.question-padding {
	padding: 20px !important;
}

.no-before:before {
	display: none !important;
}

.small-label {
	font-size: 9px;
}

.hidden {
	display: none !important;
}

.already, .active-already {
	background: #999999 !important;
	color: white !important;
}

.app-active {
	background: #8CCE8C !important;
	color: white !important;
}

.active-already {
	color: red !important;
}
